<!DOCTYPE HTML>
  <html>
    <head>
      <%- partial('_partial/head') %>
    </head>
  <body>
    <header id="header" class="inner">
      <%- partial('_partial/header') %>
    </header>
    <div id="content" class="inner clearfix">
      <div id="main-col" class="alignright clearfix">
        <div id="wrapper clearfix">
          <%- body %>
        </div>
      </div>
      <aside id="sidebar" class="alignleft">
        <%- partial('_partial/sidebar') %>
      </aside>
    </div>
    <footer id="footer" class="inner">
      <%- partial('_partial/footer') %>
    </footer>
    <%- partial('_partial/after_footer') %>
  </body>
</html>
